description = "Sección - Sobre nosotros"
==
<div class="row">
  <div class="ga-ribbon col-lg-3 col-sm-6">- {% content "cinta-sobre-nosotros" %}</div>
</div>
<div class="row">
  <div class="ga-padding ga-box-h720 ga-bg-not-white col-lg-7 col-md-6 ga-about-us__content">
    {% content "sobre-nosotros" %}
  </div>
  <div class="ga-padding ga-box-h720 ga-bg-white col-lg-5 col-md-6 ga-about-us__milestone">
    <div class="ga-about-us__milestone__content">{% content "acontecimientos" %}</div>
  </div>
</div>
